const config = {
    // optional
    styles: {
      ".emptyClass": {
      },
  
      ".focusClass": {
      },
  
      ".invalidClass": {
        color: "#C01324",
      },
  
      ".validClass": {
        color: "#43B02A",
      },
    },
  
    // optional
    classes: {
      empty: "emptyClass",
      focus: "focusClass",
      invalid: "invalidClass",
      valid: "validClass",
    },
  
    fields: {
      card: {
        selector: '[data-cc-card]',
  
        // optional
        placeholder: 'Credit Card Number',
  
        // optional, defaults to all brands being allowed.
        // see section titled "Restrict Card Brands" below for more information
        allowedBrands: ["visa", "discover", "mastercard", "american-express"],
      },
  
      // optional but required for successful zero dollar auth
      cvv: {
        selector: '[data-cc-cvv]',
  
        // optional
        placeholder: 'CVV',
      },
  
      exp: {
        selector: '[data-cc-exp]',
  
        // optional
        placeholder: 'Expiration Date',
      },
  
      name: {
        selector: '[data-cc-name]',
  
        // optional
        placeholder: 'Full Name',
      },
  
      // optional
      address1: {
        selector: '[data-cc-address1]',
  
        // optional
        placeholder: 'Address 1',
      }
  
      // optional
      address2: {
        selector: '[data-cc-address2]',
  
        // optional
        placeholder: 'Address 2',
      },
  
      // optional
      city: {
        selector: '[data-cc-city]',
  
        // optional
        placeholder: 'City',
      },
  
      // optional
      company: {
        selector: '[data-cc-company]',
  
        // optional
        placeholder: 'Company',
      },
  
      // optional
      country: {
        selector: '[data-cc-country]',
  
        // optional
        placeholder: 'Country',
      },
  
      // optional
      postalCode: {
        selector: '[data-cc-postalCode]',
  
        // optional
        placeholder: 'Postal Code',
      },
  
      // optional
      region: {
        selector: '[data-cc-region]',
  
        // optional
        placeholder: 'State or Province',
      },
    }
  };